html {
  font-size: 2vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #483c46;
  color: #beee62;
}
h1 {
  font-size: 4em;
  padding: 0.4em;
}
.calculator {
  height: 70vh;
  width: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
  align-items: center;
  justify-items: center;
  background-color: #3c6e71;
  font-weight: 500;
  font-size: 2.2em;
  border-radius: 0.5em;
}
.calc-buttons {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: #70ae6e;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
}
.calc-buttons:hover {
  background-color: #f4743b;
}
button {
  display: block;
  border: none;
  color: #beee62;
  font-weight: 500;
}
button:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 5px;
}

#zero {
  grid-column: 1;
  grid-row: 5;
}
#decimal {
  grid-column: 2;
  grid-row: 5;
}
#equals {
  grid-column: 3;
  grid-row: 5;
}
#add {
  grid-column: 4;
  grid-row: 5;
}
#one {
  grid-column: 1;
  grid-row: 4;
}
#two {
  grid-column: 2;
  grid-row: 4;
}
#three {
  grid-column: 3;
  grid-row: 4;
}
#subtract {
  grid-column: 4;
  grid-row: 4;
}
#four {
  grid-column: 1;
  grid-row: 3;
}
#five {
  grid-column: 2;
  grid-row: 3;
}
#six {
  grid-column: 3;
  grid-row: 3;
}
#multiply {
  grid-column: 4;
  grid-row: 3;
}
#seven {
  grid-column: 1;
  grid-row: 2;
}
#eight {
  grid-column: 2;
  grid-row: 2;
}
#nine {
  grid-column: 3;
  grid-row: 2;
}
#divide {
  grid-column: 4;
  grid-row: 2;
}
#display {
  display: block;
  grid-column: 1 / span3;
  grid-row: 1;
  background-color: #42555c;
  width: 66%;
  height: 80%;
  text-align: right;
  padding-right: 0.2em;
  margin-top: 0.2em;
  margin-right: 1.95em;
  padding-left: 0.2em;
  border-radius: 0.2em;
  font-size: 1.4em;
  overflow-x: hidden;
  overflow-y: auto;
}
#clear {
  grid-column: 4;
  grid-row: 1;
}
